services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    networks:
      - statflix-network
    volumes:
      - ./frontend/src:/usr/src/app/src
      - ./frontend/public:/usr/src/app/public
      - /usr/src/app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - HOST=0.0.0.0
      - REACT_APP_API_BASE_URL=${API_BASE_URL}

    command: sh -c "npm install && npm start"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    networks:
      - statflix-network
    volumes:
      - ./backend:/usr/src/app
    environment:
      - API_KEY=${API_KEY}
      - PORT=${PORT}
      - API_BASE_URL=${API_BASE_URL}
      - DB_TYPE=sqlite
    command: sh -c "npm install && nodemon server.js"

networks:
  statflix-network:
    driver: bridge
